#swipe-gallery {
	text-align: center;
	padding: 0vw 0vw;
	display: inline-block;
}
.pswp__bg { background: rgba(0, 0, 0, 0.5); }
.PS_thumb {
	vertical-align: top;
	display: inline-block;
	display: inline-table;
	width: 1%;
	text-decoration: none;
}
div.word_wrap{
	  word-break: break-all;
   position: relative;
}
div.description {
   max-width:40%; 
}
div.plain {
   position: relative;
}

/* Background mechanism */
body {
background: 
linear-gradient( 45deg,
transparent 69px, rgba(180, 165, 135, 0.5) 69px,
rgba(180, 165, 135, 0.5) 72px, transparent 72px
),
linear-gradient( 135deg,
transparent 69px, rgba(180, 165, 135, 0.5) 69px,
rgba(180, 165, 135, 0.5) 72px, transparent 72px
),
radial-gradient( 
transparent 55px, rgba(180, 165, 135, 1.0) 55px,
rgba(180, 165, 135, 1.0) 60px, transparent 60px,
transparent 65px, rgba(180, 165, 135, 1.0) 65px,
rgba(180, 165, 135, 1.0) 70px, transparent 80px
) -50px -50px;
background-size: 100px 100px;
background-color: #E3D3C3;
font-family:  Verdana, Arial, Helvetica; font-size: 12pt;  color: #707070; 
}


/* Polaroid mechanism */
.border {
  border: solid 5px;
  border-bottom-color: rgb(248, 232, 216);
  border-left-color: rgb(232, 216, 200);
  border-right-color: rgb(216, 200, 184);
  border-top-color: rgb(190, 174, 158);
  max-height: 100%;
}
div.polaroid{
  background-color: rgba(200,184,168,1);
  border: solid 0.625000vw rgba(232,216,200,1);
  border-bottom-color: rgba(248,232,216,1);
  border-left-color: rgba(232,216,200,1);
  border-radius: 2px;
  border-right-color: rgba(232,216,200,1);
  border-top-color: rgba(216,200,184,1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  padding: 0.625000vw;
	margin: 0.125000vw;
  position: relative;
  text-align: center; 
}

.polaroid:before { 
  border-radius: 2px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25) inset;
  content: "";
  position: absolute;
  bottom: -0.312500vw;
  left: -0.312500vw;
  right: -0.312500vw;
  top: -0.312500vw;
  z-index: -1;
}
.polaroid:after {
  border-radius: 2px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  content: "";
  position: absolute;
  bottom: -0.625000vw;
  left: -0.625000vw;
  right: -0.625000vw;
  top: -0.625000vw;
  z-index: -1;
}
div.rotate0{
	float: left;
	-ms - transform: rotate(0deg); /* IE 9 */
	-webkit - transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}
div.rotate_right1{
	float: left;
	-ms - transform: rotate(0deg); /* IE 9 */
	-webkit - transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}
div.rotate_left1{
	float: left;
	-ms - transform: rotate(0deg); /* IE 9 */
	-webkit - transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}
div.rotate_right_panorama{
	float: left;
	-ms - transform: rotate(0deg); /* IE 9 */
	-webkit - transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}
div.rotate_left_panorama{
	float: left;
	-ms - transform: rotate(0deg); /* IE 9 */
	-webkit - transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}

/* Font mechanism */
<!--  
TD{font-family:  Verdana, Arial, Helvetica; font-size: 10pt; color: #707070}
H1{font-family:  Verdana, Arial, Helvetica; font-size: 28pt; color: #707070}
H2{font-family:  Verdana, Arial, Helvetica; font-size: 20pt; color: #707070}
H3{font-family:  Verdana, Arial, Helvetica; font-size: 12pt; color: #707070}
H6{font-family:  Verdana, Arial, Helvetica; font-size: 10pt; color: #707070}
p{font-family:  Verdana, Arial, Helvetica; font-size: 10pt; color: #909090}
p#p1{font-family:  Verdana, Arial, Helvetica; font-size: 8pt; color: #909090}
--->
/* phone looking horizontal */
@media (min-width: 800px) and (max-width: 1200px) {
div.description {
   max-width:60%; 
}
	div.polaroid {
		padding: 0.416667vw;
	}
}
/* phone looking vertical */
@media (max-width: 800px) {
div.description {
   max-width:80%; 
}
	div.polaroid {
		padding: 0vw;
	}
}
/* for  large screen */
@media (min-width: 1200px) {
}
/* for really large screen */
@media (min-width: 1700px) {
}
